<div class="col-md-6 user-container">
  <h2 class="text-center">Add Part</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="category">Category:</label>
      <input type="text" formControlName="category" placeholder="category" name="category" class="form-control"
             id="category">
    </div>
    <br/>

    <div class="form-group">
      <label for="name">Name:</label>
      <input type="name" formControlName="name" placeholder="name" name="name" class="form-control"
             id="name">
    </div>

    <br/>
    <button class="btn btn-success">Add</button>
  </form>
</div>